@import "layout/components/color";

.red-large-button{
    position: absolute;
    top: 40%; 
    left: 55%;
    .btn{
        width: 300px;
        height: 70px;
        background-color: $accent-color-red;
        color: $base-color-white;
        font-weight: bold;
    }
    .btn:hover{
        background-color: $main-color-darkred;
    }
}