<footer class="footer">
    <div class="footer-content">
        <ul class="footer-information">
            <li>
                <a href="#">越境EC決済支援</a> ｜</li>
            <li>
                <a href="#">実店舗決済支援</a>｜</li>
            <li>
                <a href="#">WeChat集客</a> ｜</li>
            <li>
                <a href="/about">Huapayついて</a>｜</li>
            <li>
                <a href="#">お問い合わせ</a>
            </li>
            <!--お問い合わせ部分はFontAwsomeのアイコンで実装することを検討中-->
        </ul>
    </div>
    <p class="copy-right">
        <span>&copy; Huapay LLC.</span>
    </p>
</footer>