// Base colors
$base-color-white: #ffffff;
$base-color-black: #000000;
// Main colors
$main-color-darkred: #800000;
$main-color-ocher: #c0995a;
// Accent color
$accent-color-red: #d90000;
// Footer background
$footer-color: #3d4044;
// others
$service-text-color: #3d4044;
$introduction-color-gray: #f2f2f2;
$phone-icon-circle-blue: #5532f2;
$terminal-color: #8ea4e5;

