@import "layout/base/color";

.red-large-button{
    .btn{
        width: 300px;
        height: 70px;
        background-color: $accent-color-red;
        color: $base-color-white;
        font-weight: bold;
    }
    .btn:hover{
        background-color: $main-color-darkred;
    }
}

.red-large-button h4{
    margin-top: 10px;
}