--- 
layout: default 
---

<div class="home-content">
    <div class="main-catch-phrase">
        <img src="/assets/images/shopping.jpg" />
        <div class="catch-phrase-1">
            <h1>中国の主流決済で</h1>
        </div>
        <div class="catch-phrase-2">
            <h1>「集客＋売り上げアップ」を確実に</h1>
        </div>
    </div>

    <div class="information-boxes">
        <div class="box">
            <div class="sentence-box">
                <div class="sentence">
                    <a href="#">中国人はなぜ日本で「爆買い」をする？</a>
                </div>
            </div>
            <div class="picture">
                <img src="/assets/images/question_mark.jpg">
            </div>
        </div>
        <div class="box">
            <div class="sentence-box">
                <div class="sentence">
                    <a href="#">中国人観光客向け売上げアップのコツは？</a>
                </div>
            </div>
            <div class="picture">
                <img src="/assets/images/hint.jpg">
            </div>
        </div>
    </div>

    <div class="about">
        <img src="/assets/images/city_image.jpg" />
        <div class="explain-1">
            <h1>Huapayは中国人観光客への
                <br>ビジネスチャンスを探し続ける会社です。</h1>
        </div>
        <div class="explain-2">
            <p>私たちのビジョンは、中国人観光客の集客に困る<br>中小企業・個人事業主を支援することです。</p>
        </div>
        <a href="/about">続きを読む</a>
    </div>

    <div class="services">
        <h1>Services(サービス)</h1>
        <div class="service-images">
            <div class="container">
                <!-- 実店舗決済支援 -->
                <div class="row">
                    <div class="col-sm">
                        <div class="service">
                            <div class="service-icon">
                                <h1 style="color: thistle">
                                    <i class="fas fa-desktop"></i>
                                </h1>
                            </div>
                            <h3>越境EC決済支援</h3>
                        </div>
                    </div>
                    <!-- 越境EC決済支援 -->
                    <div class="col-sm">
                        <div class="service">
                            <div class="service-icon">
                                <h1 style="color: yellowgreen">
                                    <i class="fas fa-store-alt"></i>
                                </h1>
                            </div>
                            <h3>実店舗決済支援</h3>
                        </div>
                    </div>
                    <!-- WeChat集客支援 -->
                    <div class="col-sm">
                        <div class="service">
                            <div class="service-icon">
                                <h1 style="color: #62B900">
                                    <i class="fab fa-weixin"></i>
                                </h1>
                            </div>
                            <h3>WeChat集客支援</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>