@import "layout/base/color";

@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 400;
}
  
body {
    font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "YuGothic M", 
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}

.main-catch-phrase {
    position: relative;
    color: $base-color-white;
    text-shadow:
    black 1px 1px 2px, black -1px 1px 2px,
    black 1px -1px 2px, black -1px -1px 2px;
}

.main-catch-phrase img{
    max-width: 100%;
    height: 500px;
    object-fit: cover;
}

.catch-phrase-1 h1 {
    // 画像の上に文字を置くための絶対配置
    position: absolute;
    top: 40%;
    right: 15%;
    font-weight: bold;
    font-size: 5vmin;
}

.catch-phrase-2 h1 {
    position: absolute;
    top: 60%;
    right: 5%;
    font-weight: bold;
    font-size: 5vmin;
}

.information-boxes{
    padding-top: 40px;
    padding-bottom: 40px;
    @media (min-width: 1115px){
        display: flex;
        .box{
            border: solid 3px $main-color-ocher;
            height: 300px;
            width: 550px;
            display: flex;
            margin: auto;
        }
        .picture{
            margin: auto;
        }
        .picture img{
            height: 250px;
            max-width: 250px;
            object-fit: cover;
            margin: auto;
        }
        .sentence-box {
            background-color: $main-color-ocher;
            width: 250px;
            height: 250px;
            margin: auto;
            text-align: center;
        }  
        .sentence{
            padding-top:45%;
        }
    }
    @media (max-width: 1115px){
        .box{
            position: relative;
            border: solid 3px $main-color-ocher;
            height: 350px;
            width: 350px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .picture img{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 5%);
            height: 310px;
            max-width: 310px;
            object-fit: cover;
            margin: auto;
            z-index: 1;
        }
        .sentence{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
            z-index: 2;
        }
    }
    .sentence a{
        color: $base-color-white;
        text-shadow:
        black 1px 1px 2px, black -1px 1px 2px,
        black 1px -1px 2px, black -1px -1px 2px;
    }
    .sentence a:hover{
        color: #d1d1d1;
    }
}

.about{
    position: relative;
    text-shadow: 
    0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    color: $base-color-white;
    .explain-1{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
    .explain-2{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.about h1{
    font-weight: bold;
    @media (min-width: 710px){
        font-size: 25pt;
    }
    @media (max-width: 710px){
        font-size: 15pt;
    }
}

.about p{
    font-weight: bold;
    @media (min-width: 800px){
        font-size: 15pt;
    }
    @media (max-width: 800px){
        font-size: 13pt;
    }
}

.about a{
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    font-size: 20px;
    border: solid $base-color-white 2px;
    padding: 7px;
    color: $base-color-white;
    text-decoration: none;
    text-shadow: 
    0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.about a:hover{
    background: rgba(255, 255, 255, 0.3);// 背景を半透明に
}

.about img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.services {
    background-color: $base-color-white;
}

.services h1{
    text-align: center;
    color: $accent-color-red;
    padding-top: 40px;
    text-shadow: 2px 2px 3px gray;
    font-weight: bold;
}

.service{
    height: 250px;
    width: 250px;
    display: flex;
    .service-icon h1{
        position: absolute;
        top: 40%;
        left: 20%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        font-size: 55pt;
    }
}

.service h3{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    white-space: nowrap;
    font-weight: bold;
    color: $service-text-color;
    text-shadow: 
    0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}