@import "layout/components/color";

.footer {
  .copy-right {
    padding-bottom: 20px;
    font-size: .8em;
    text-align: center;
    color: $base-color-white;
  }
  .footer-content{
    text-align: center;
    // footerを太くする
    padding-top:20px;
    padding-bottom: 20px;
    ul.footer-information li{
      display: inline;
      text-align: center;
      color: $base-color-white;
    }
    ul.footer-information a{
      color: $base-color-white;
    }    
  }
  background-color: $footer-color;
}


